<div class="pb-16"></div>
<div class="pb-2"></div>
<footer
    class="fixed bg-black bottom-0 left-0 z-20 w-full p-4 bg-opacity-100 border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
    <span
        class="text-sm text-white sm:text-center dark:text-white transform hover:scale-110 font-bold transition-all duration-300 hover:text-pink-700">©
        2024 <a href="https://www.shadowxtreme.com/">Shadow™</a>. All Rights
        Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-bold text-white dark:text-white sm:mt-0">
        <li class="transform hover:scale-150 transition-all duration-300 hover:text-pink-700 me-4 md:me-6 ml-5 mr-5">
            <a href="/about">About</a>
        </li>
        <li class="transform hover:scale-150 transition-all duration-300 hover:text-pink-700 me-4 md:me-6 ml-5 mr-5">
            <a href="#">Privacy Policy</a>
        </li>
        <li class="transform hover:scale-150 transition-all duration-300 hover:text-pink-700 me-4 md:me-6 ml-5 mr-5">
            <a href="#">Licensing</a>
        </li>
        <li class="transform hover:scale-150 transition-all duration-300 hover:text-pink-700 me-4 md:me-6 ml-5 mr-5">
            <a href="/contact">Contact</a>
        </li>
    </ul>
</footer>