<%- include('layouts/layout1', {title: "Contact" ,body: ` `}) %>

    <div class="bg-gray-500 flex flex-row p-10" style="width: 100%">

        <img class="rounded-full" src="/images/artgallery/profile/dp.jpg">

        <div class="flex flex-col">
            <h1 class="py-10 font-light text-white text-5xl" style="text-align: center">
                Dr. Balaji Bhange
            </h1>
            <p class="mx-60 my-10 font-light text-white" style="text-align: center">
                Born in Maharashtra, did graduation and post graduation from Sir J J School of Arts, recently Working as
                a
                Freelance Artist and as Assistant Professor at Lovely Professionl University (punjab).Throughout my
                career,
                I
                participated in numerous exhibitions which includes 6 solo shows and more than 20 group shows across
                India,
                and
                won 6 International Awards, 25 National Level Awards and more than 30 State and Zonal Level Awards,
                earning
                critical acclaim and admiration from art enthusiasts and collectors alike. My artworks has found its way
                into
                private collections and galleries worldwide. I have 20+ years of experience in various art fields like
                Paintings,
                Sculpture, Illustration, Films, Art Direction, Direction, Modelling and Teaching
            </p>

        </div>
    </div>

    <div class="bg-gray-500 flex flex-row p-10" style="width: 100%">
<div class="flex flex-col">
            <h1 class="py-10 font-light text-white text-5xl" style="text-align: center">
                WORK EXPERIENCE
            </h1>
            <p class="mx-60 my-10 font-light text-white" style="text-align: center">
                AUGUST 2022 - TILL DATE
                Lovely Professional University - Working as an Assistant Professor DECEMBER 2019 - JULY 2022
                Self-employed, India - Worked on some personal painting and artwork JUNE 2016 - DECEMBER 2018
                ATS Valley School, Mohali - Worked as an Art Teacher, Designer & photographer JANUARY 2010 - MARCH 2015
                Bennett Coleman and Co. Ltd. (Times Group) , Mumbai - Worked as an Illustrator and cartoonist with
                Maharashtra Times and The Times of India. JUNE 2015 - DECEMBER 2016
                Nikhil Films, Mumbai -
                Worked as an Assistant director for Film "Brave Heart" (Jidd Jagnyachi) 2017

                I have worked as a fine art Director in 2013, 2014, 2015 2018, 2019 & 2020 from Shivaji University,
                Kolhapur, For AIU

                I have worked as a fine art Director in 2015 2016, 2017, 2018, 2019 & 2020 from Mumbai University,
                Mumbai, For AIU
            </p>

        </div>
        <img class="rounded-full" src="/images/artgallery/about/image1.jpg">

    </div>



    <div class="bg-gray-500 flex flex-row p-10" style="width: 100%">

        <img class="rounded-full" src="/images/artgallery/about/dp.jpg">

        <div class="flex flex-col">
            <h1 class="py-10 font-light text-white text-5xl" style="text-align: center">
                EDUCATION
            </h1>
            <p class="mx-60 my-10 font-light text-white" style="text-align: center">
                2015 - 2017
                Vishwakarma University, Delhi - PhD in Fine Arts. 2007 - 2009
                Sir JJ School of Art, Mumbai - Master of Fine Arts - (MFA in Portrait) 2003 - 2007
                Sir JJ School of Art, Mumbai - Bachelor of Fine Arts -(BFA in Painting) 2001 - 2002
                Dnyansagar Chitrkala Mahavidyalay, Udgir, Maharashtra - Art Teacher Diploma (ATD)
                1999 - 2001
                Degloor College, Degloor - HSC in Electronic Technology
            </p>

        </div>
    </div>

    <div class="bg-gray-500 flex flex-row p-10" style="width: 100%">


        <div class="flex flex-col">
            <h1 class="py-10 font-light text-white text-5xl" style="text-align: center">
                AWARDS & ACHIEVEMENTS
            </h1>
            <p class="mx-60 my-10 font-light text-white" style="text-align: center">
                Higher Achievement Award, by University of Mumbai

                2022 -
                Gold Medal in International Art competition by Sanskar Bharti, Bareilly Gold Medal in KFOAS
                International Art Competition
                Silver Medal in National Portrait Competition by Manikarnika Art Gallery, Jhansi

                2021 -
                Excellence Award by KFOAS International Art Competition (World Environmental day)
                Picasso Award 2021( International art competition and exhibition) Bronze medal In BM fine art and
                culture (West Bengal)
                Third position on ( International Art Competition) on occasions of India@75 Celebrate Independence of
                India By ArtsCrafts

                2020 -
                Excellence Award by KFOAS International Art Competition

                2009 -
                Late Shri John Fernandes Award, (Art Society of India, Mumbai) Late Smt. Heralakshmi Award, (Art Society
                of India, Mumbai) Shri P. G. Kumthekar Award by Art Society of India Mumbai
                M. R. Achrekar Award, Mumbai

                2008 -
                Gold Medal (Collage) at (All India) National Level Youth Festival (Association of Indian Universities)
                Gold Medal (Painting) at (All India) National Level Youth Festival (Association of Indian Universities)
                Gold Medal (Collage) at Zonal Level Youth Festival ( by AIU) Gold Medal (Painting) at Zonal Level Youth
                Festival ( by AIU) Merit Award(National Contest) by Scribble Artist Association, Hyderabad

                2007 -
                National Scholarship by Cultural Department, HRD, Gov. of India.
                Gold Medal (Spot Painting) at State Level Youth Festival (AIU) Silver Medal (Collage) at State Level
                Youth Festival (AIU)
                Gold Medal (Spot Painting) at Zonal Level Youth Festival (AIU) Bronze Medal (Poster) at Zonal Level
                Youth Festival (AIU)
                Gold Medal (Spot Painting) at National Level Youth Festival(AIU) Silver Medal (Drawing) at Kalavart Nyas
                National Art Contest (Ujjain, MP)

                2006 -
                Indo-Swiss Scholarship (Switzerland) selection.
                Gold Medal (Spot Painting) at Zonal Level Youth Festival (AIU) Gold Medal (Collage) at Mumbai
                University, Mumbai.
                Gold Medal (Spot Painting) at Mumbai University, Mumbai. Silver Medal (Graphics) at Kalavart Nyas
                National Art Contest, Ujjain, MP
                Water color Study Camp by Nehru Center

                2005 -
                Solomon Abbrahim Award at Sir J.J. School of Art, Mumbai.
                [14:58, 13/04/2024] Praganya Mittal: PARTICIPATION
                2021 -Picasso Art Competition 21 by BM art Gallery, 2021 -KFOAS International Art Competition, Bareilly
                UP 2020 -Camlin Art Foundation, Mumbai
                2020 -KFOAS International Art Competition, Bareilly UP 2013 -India art festival, Mumbai
                2011 -Camlin Art Foundation, Mumbai 2010 -Maharashtra State Art Exhibition
                2009 -Sand Festival by the Government of Goa, Kandolim, Goa 2009 -Maharashtra State Art Exhibition
                2009 -91st Annual Art Exhibition by Art Society of India 2008 -Chitari Art Exhibition, Pune
                2008 -Kalavart Nyas, National Art Contest, Ujjain 2008 -Maharashtra State Art Exhibition
                2007 -Indo Brazil Festival at St. Xavier’s College, Mumbai
                2007 -Animal Painting Art Camp, at Sir JJ school of art, Mumbai 2007 -Kalavart Nyas, National Art
                Contest, Ujjain
                2007 -Maharashtra State Art Exhibition
                2006 -114th All India Art Exhibition, Bombay Art Society, Mumbai 2006 -Water color Study Camp by Nehru
                Center, Mumbai
                2006 -Kalavart Nyas, National Art Contest, Ujjain
                2005 -113th All India Art Exhibition, Bombay Art Society, Mumbai 2005 -Maharashtra State Art Exhibition
                2004 -Maharashtra State Art Exhibition
                2004 -112th All India Art Exhibition, Bombay Art Society, Mumbai 2003 - Maharashtra State Art Exhibition
            </p>

        </div>
        <img class="rounded-full" src="/images/artgallery/profile/dp.jpg">

    </div>


    <div class="bg-gray-500 flex flex-row p-10" style="width: 100%">

        <img class="rounded-full" src="/images/artgallery/profile/dp.jpg">

        <div class="flex flex-col">
            <h1 class="py-10 font-light text-white text-5xl" style="text-align: center">
                PARTICIPATION
            </h1>
            <p class="mx-60 my-10 font-light text-white" style="text-align: center">
                2021 -Picasso Art Competition 21 by BM art Gallery, 2021 -KFOAS International Art Competition, Bareilly
                UP 2020 -Camlin Art Foundation, Mumbai
                2020 -KFOAS International Art Competition, Bareilly UP 2013 -India art festival, Mumbai
                2011 -Camlin Art Foundation, Mumbai 2010 -Maharashtra State Art Exhibition
                2009 -Sand Festival by the Government of Goa, Kandolim, Goa 2009 -Maharashtra State Art Exhibition
                2009 -91st Annual Art Exhibition by Art Society of India 2008 -Chitari Art Exhibition, Pune
                2008 -Kalavart Nyas, National Art Contest, Ujjain 2008 -Maharashtra State Art Exhibition
                2007 -Indo Brazil Festival at St. Xavier’s College, Mumbai
                2007 -Animal Painting Art Camp, at Sir JJ school of art, Mumbai 2007 -Kalavart Nyas, National Art
                Contest, Ujjain
                2007 -Maharashtra State Art Exhibition
                2006 -114th All India Art Exhibition, Bombay Art Society, Mumbai 2006 -Water color Study Camp by Nehru
                Center, Mumbai
                2006 -Kalavart Nyas, National Art Contest, Ujjain
                2005 -113th All India Art Exhibition, Bombay Art Society, Mumbai 2005 -Maharashtra State Art Exhibition
                2004 -Maharashtra State Art Exhibition
                2004 -112th All India Art Exhibition, Bombay Art Society, Mumbai 2003 - Maharashtra State Art Exhibition
            </p>

        </div>
    </div>

    <div class="bg-gray-500 flex flex-row p-10" style="width: 100%">


        <div class="flex flex-col">
            <h1 class="py-10 font-light text-white text-5xl" style="text-align: center">
                SOLO SHOWS
            </h1>
            <p class="mx-60 my-10 font-light text-white" style="text-align: center">
                2023 an Exhibition of Paintings at LPU University, SDMA Dinning hall, phagwara, Punjab
                2013 “Gulmohar” an Exhibition of Paintings at Jehangir Art Gallery, Mumbai
                2013 “The hugs of art” an Exhibition of Paintings at Artist’s center Art Gallery, Mumbai
                2013 “Timeless Elegance” an Exhibition of Paintings at Leela Art Gallery, Mumbai
                2012 “Lord Ganesha II”an Exhibition of Paintings at Leela Art Gallery, Mumbai
                2011 “Lord Ganesha”an Exhibition of Paintings at Leela Art Gallery, Mumbai
                2011 “Rouged” an Exhibition of Paintings and Installation at Bajaj Art Gallery, Nariman Point Mumbai
                2010 “Ensemble” an Exhibition of Paintings Naiyedya Art
                Gallery, Colaba, Mumbai
            </p>

        </div>
        <img class="rounded-full" src="/images/artgallery/profile/dp.jpg">

    </div>


    <div class="bg-gray-500 flex flex-row p-10" style="width: 100%">

        <img class="rounded-full" src="/images/artgallery/profile/dp.jpg">

        <div class="flex flex-col">
            <h1 class="py-10 font-light text-white text-5xl" style="text-align: center">
                GROUP SHOWS
            </h1>
            <p class="mx-60 my-10 font-light text-white" style="text-align: center">
                2022 -Lalit kala Academy, New Delhi 2013 2016 -India art festival, Mumbai
                2012 -Rawal Lalit Kala Art Gallery, Ahemedabad. 2011 -Exhibition of Paintings at Leela Art gallery
                2011 -"Expressions" an exhibition of Paintings at The Oberoi Art Walk Gallery, Mumbai
                2009 -Mansoon Show at Jahangir Art Gallery 2009 -Point of View Art Gallery, Mumbai 2007 -Bajaj Art
                Gallery, Mumbai
                2007 -Nirmal Life Style Art Gallery, Mumbai 2006 -Nehru Center Art Gallery, Mumbai 2006- Huma Mall Art
                Gallery, Mumbai
            </p>

        </div>
    </div>

    <div class="bg-gray-500 flex flex-row p-10" style="width: 100%">


        <div class="flex flex-col">
            <h1 class="py-10 font-light text-white text-5xl" style="text-align: center">
                COLLECTION
            </h1>
            <p class="mx-60 my-10 font-light text-white" style="text-align: center">
                - Sir J. J. Museum, Navasari, (Gujarat)
                - Shri Guru Gowind Singh Museum, Nanded, (Mh)
                - Nehru Center, Mumbai, (Maharashtra)
                - Sir J. J. School of Art, Mumbai
                - Government college of art, Nagpur
                - ATS valley school, Derabassi, Punjab
                - Lovely Professional University, punjab
                - There are some private collection in india & abroad.
            </p>

        </div>
        <img class="rounded-full" src="/images/artgallery/profile/dp.jpg">

    </div>