<%- include('layouts/layout1', { title: "Art Gallery" , body: ` ` }) %>

  <script src="/js/script.js"></script>

  <div class="container1">
    <div class="slider mx-auto" data-slider>
      <ul class="slider__track" data-slider-track>
        <li>
          <div class="flex flex-col border border-green-500 p-4">
            <div class="slide">
              <img src="/images/artgallery/cartoon/image1.jpg" class="max-h-80 max-w-80 p-5" />
            </div>
            <div class="flex flex-col justify-between items-center mx-auto mb-10">
              <h1 class="text-3xl">Cartoon</h1>
            </div>
            <button id="buyBtn" class="border bg-gray-400 py-3 hover:bg-pink-500 h-12 w-40 flex flex-row mx-auto">
              <h1 class="mx-auto"><a href="/gallery/cartoon" class="text-black">View More</a></h1>
            </button>
          </div>
        </li>
        <li>
          <div class="flex flex-col border border-green-500 p-4">
            <div class="slide">
              <img src="/images/artgallery/collage/image1.jpg" class="max-h-80 max-w-80 p-5" />
            </div>
            <div class="flex flex-col justify-between items-center mx-auto mb-10">
              <h1 class="text-3xl">Collage</h1>
            </div>
            <button id="buyBtn" class="border bg-gray-400 py-3 hover:bg-pink-500 h-12 w-40 flex flex-row mx-auto">
              <h1 class="mx-auto"><a href="/gallery/cartoon" class="text-black">View More</a></h1>
            </button>
          </div>
        </li>
        <li>
          <div class="flex flex-col border border-green-500 p-4">
            <div class="slide">
              <img src="/images/artgallery/creative/image1.jpg" class="max-h-80 max-w-80 p-5" />
            </div>
            <div class="flex flex-col justify-between items-center mx-auto mb-10">
              <h1 class="text-3xl">Creative</h1>
            </div>
            <button id="buyBtn" class="border bg-gray-400 py-3 hover:bg-pink-500 h-12 w-40 flex flex-row mx-auto">
              <h1 class="mx-auto"><a href="/gallery/cartoon" class="text-black">View More</a></h1>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="container1">
    <div class="slider" data-slider>
      <ul class="slider__track" data-slider-track>
        <li>
          <div class="flex flex-col border border-green-500 p-4">
            <div class="slide">
              <img src="/images/artgallery/digital/image1.jpg" class="max-h-80 max-w-80 p-5" />
            </div>
            <div class="flex flex-col justify-between items-center mx-auto mb-10">
              <h1 class="text-3xl">Digital</h1>
            </div>
            <button id="buyBtn" class="border bg-gray-400 py-3 hover:bg-pink-500 h-12 w-40 flex flex-row mx-auto">
              <h1 class="mx-auto"><a href="/gallery/cartoon" class="text-black">View More</a></h1>
            </button>
          </div>
        </li>
        <li>
          <div class="flex flex-col border border-green-500 p-4">
            <div class="slide">
              <img src="/images/artgallery/landscape/image1.jpg" class="max-h-80 max-w-80 p-5" />
            </div>
            <div class="flex flex-col justify-between items-center mx-auto mb-10">
              <h1 class="text-3xl">Landscape</h1>
            </div>
            <button id="buyBtn" class="border bg-gray-400 py-3 hover:bg-pink-500 h-12 w-40 flex flex-row mx-auto">
              <h1 class="mx-auto"><a href="/gallery/cartoon" class="text-black">View More</a></h1>
            </button>
          </div>
        </li>
        <li>
          <div class="flex flex-col border border-green-500 p-4">
            <div class="slide">
              <img src="/images/artgallery/life/image3.jpg" class="max-h-80 max-w-80 p-5" />
            </div>
            <div class="flex flex-col justify-between items-center mx-auto mb-10">
              <h1 class="text-3xl">Life</h1>
            </div>
            <button id="buyBtn" class="border bg-gray-400 py-3 hover:bg-pink-500 h-12 w-40 flex flex-row mx-auto">
              <h1 class="mx-auto"><a href="/gallery/cartoon" class="text-black">View More</a></h1>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="container1">
    <div class="slider" data-slider>
      <ul class="slider__track" data-slider-track>
        <li>
          <div class="flex flex-col border border-green-500 p-4">
            <div class="slide">
              <img src="/images/artgallery/potrait/image1.jpg" class="max-h-80 max-w-80 p-5" />
            </div>
            <div class="flex flex-col justify-between items-center mx-auto mb-10">
              <h1 class="text-3xl">Portrait</h1>
            </div>
            <button id="buyBtn" class="border bg-gray-400 py-3 hover:bg-pink-500 h-12 w-40 flex flex-row mx-auto">
              <h1 class="mx-auto"><a href="/gallery/cartoon" class="text-black">View More</a></h1>
            </button>
          </div>
        </li>
        <li>
          <div class="flex flex-col border border-green-500 p-4">
            <div class="slide">
              <img src="/images/artgallery/sculpture/image1.jpg" class="max-h-80 max-w-80 p-5" />
            </div>
            <div class="flex flex-col justify-between items-center mx-auto mb-10">
              <h1 class="text-3xl">Sculpture</h1>
            </div>
            <button id="buyBtn" class="border bg-gray-400 py-3 hover:bg-pink-500 h-12 w-40 flex flex-row mx-auto">
              <h1 class="mx-auto"><a href="/gallery/cartoon" class="text-black">View More</a></h1>
            </button>
          </div>
        </li>
        <li>
          <div class="flex flex-col border border-green-500 p-4">
            <div class="slide">
              <img src="/images/artgallery/sketches/image1.jpg" class="max-h-80 max-w-80 p-5" />
            </div>
            <div class="flex flex-col justify-between items-center mx-auto mb-10">
              <h1 class="text-3xl">Sketches</h1>
            </div>
            <button id="buyBtn" class="border bg-gray-400 py-3 hover:bg-pink-500 h-12 w-40 flex flex-row mx-auto">
              <h1 class="mx-auto"><a href="/gallery/cartoon" class="text-black">View More</a></h1>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>